.card{
	border:1px solid #ddd;
	border-radius:1rem;
	width:30%;
}

.card-image{
	width:100%;
	height:20rem;
	object-fit:cover;
	border-radius:1rem 1rem 0 0;
}

.card-title{
	text-align:center;
	font-family:sans-serif;
	font-weight:400;
	font-size:1.8rem;
}

.card-text{
	font-family:sans-serif;
	line-height:1.5;
}

/*show_comics*/
.show_image-container img{
	width:80%;
}